## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/theme-main.html" />




<%block name="title"><title>${_('About')}</title></%block>

<section class="static-container about" style="padding:30px 0 10px;">

   
        <h1>${_('About')}</h1>

        <p style="text-align:justify;text-indent:25px;">Современная тенденция дистанционного образования – это массовые открытые онлайн курсы (МООК).

 

Казахский национальный университет им. аль-Фараби является лидером среди казахстанских университетов по внедрению MOOC на открытой платформе OpenEdx. 

 

С 2014-2015 учебного года Центр дистанционного образования КазНУ им. аль-Фараби совместно с профессорско-преподавательским составом начал работу по созданию МООК, и в данный момент по Интернет адресу http://open.kaznu.kz функционирует собственная МООК платформа на основе системы Open edX. 

 

1 октября 2015 года были запущены первые открытые курсы от ведущих преподавателей КазНУ имени аль-Фараби – «Теория вероятностей» и «Физические задачи с доцентом В. Кашкаровым», куда записались около 250 и 500 слушателей из разных регионов Казахстана, соответственно. В этих курсах в основном обучались учащиеся 1-2 курса КазНУ, старших классов Назарбаев интеллектуальных школ, специализированных физико-математических и средних школ. Анализ данных показал большой интерес к этим курсам, что дает стимул преподавательскому составу и сотрудникам университета продолжать работу в этом направлении. На конец июня 2016 года в системе зарегистрировано более 2 тысяч слушателей.

 

В рамках реализации комплекса мероприятий по развитию e-learning и организации работы национальной платформы МООК для подготовки кадров на базе дистанционных образовательных технологий (ДОТ) и усилению работы Центра дистанционного образования (ЦДО), с целью повышения мобильности оказания образовательных услуг университета по новым образовательным программам руководство вуза приняло решение (Приказ ректора № 45 от 29.01.2016) о преобразовании структурного подразделения «Центр дистанционного образования» в «Институт дистанционного образования» (ИДО), в составе которого был создан центр массовых открытых онлайн курсов (ЦМООК) в статусе проектного офиса национальной платформы. Разработано и утверждено проректором по учебной работе Ахмед-Заки Д.Ж. (от 14 марта 2016 г.) Положение центра МООК, а также должностные инструкции начальника центра МООК, ведущего специалиста и специалиста центра (от 16 марта 2016 г.).

 

На текущий момент разработано 42 массовых открытых онлайн курсов (приложение 2). Из них:

были запущены – 35 МООК, 2 курса были запущены 2 раза в 2016-2017 учебном году
по 7 курсам ведется работа по созданию полноценного МООК, т.е. осуществляется монтаж видеозаписей, догружаются некоторые видеолекции и заданий для контроля, определяются сроки.
Анализ показал, что количество разработанных курсов увеличилось на 7, т.е. темп прироста всего 20%.

Такое малое число объясняется тем, что работа направлена на создание качественных курсов, а не на количество. В связи чем, возник вопрос подготовки самих преподавателей, ознакомление их с рынком МООК и процессом их создания.</p>

       

  </section>

<div class="container">
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Наша команда</h1>
                </div>
          </div>
          <div class="row text-centred">
                <div class="col-md-3">
                    <div class="team-member">
                        <span>
                        <img class="img-circle"  src="${static.url("img/zhanna.png")}" >
                        </span>
                        <h4>Саксенбаева Жанна</h4>
                        <p class="img-circle">Начальник Управление методической работы и образовательных технологий</p>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <span>
                        <img class="img-circle"  src="${static.url("img/asel.png")}">
                        </span>
                        <h4>Мусинова Асель</h4>
                       <p class="text-centred">И.о. директора центра массовых открытых онлайн курсов</p>
                     </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                       <span>
                       <img class="img-circle"  src="${static.url("img/sungat.jpg")}" >
                       </span>
                        <h4>Серіков Сұнғат</h4>
                        <p class="text-centred">Ведущий специалист центра массовых открытых онлайн курсов</p>
                     </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member">
                        <span>
                        <img class="img-circle"  src="${static.url("img/aidar.jpg")}">
                        </span>
                        <h4>Курдыбав Айдар</h4>
                <p class="text-centred">Специалист института новых образовательных технологий</p>
                    </div>
                </div>
                   </div>
</div>
</div>

