<%! from django.utils.translation import ugettext as _ %>

<%inherit file="/theme-main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="static-container privacy">
<h1>${_("Privacy Policy")}</h1>
    <p><p style="text-align:justify;">
РГП Казахский национальный университет им. аль-Фараби
г. Алматы, Республика Казахстан
Приказ № 1-П от 25.12.2014
Введено в действие 01.01.2015
Настоящий документ «Политика конфиденциальности» (далее — «Политика») представляет собой правила использования Обществом с ограниченной ответственностью «Интерактивные обучающие технологии» (далее — «Администрация») персональной информации Пользователя.
</p>
<p style="text-align:justify;">
<ul>
<h2>1. Общие положения</h2>
<li>1.1. Настоящая Политика является неотъемлемой частью Пользовательского соглашения (далее — «Соглашение»), размещённого и/или доступного в сети Интернет по адресу: open.kaznu.kz/privacy, а также иных заключаемых с Пользователем договоров, когда это прямо предусмотрено их условиями.</li>
<li>1.2. Заключая Соглашение вы свободно, своей волей и в своих интересах даёте бессрочное безотзывное письменное согласие на любые способы обработки своих персональных данных, включая любое действие (операцию) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных согласно Федеральному закону от 27 июля 2006 г. № 152-ФЗ «О персональных данных» в установленных настоящей Политикой целях.</li> 
<li>1.3. К настоящей Политике, включая толкование её положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Республики Казахстан (РК).</li>
<li>1.4. Здесь и далее в Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем договорами, если иное не предусмотрено настоящей Политикой или не вытекает из её существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной. 
<h2>2. Персональная информация</h2>
<li>2.1. Под персональной информацией в настоящей Политике понимается:</li>
<li>2.1.1. Информация, которую Пользователь предоставляет о себе самостоятельно при регистрации или авторизации, а также в процессе дальнейшего использования Сайта, включая персональные данные Пользователя.</li>
<li>2.1.2. Данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя, включая, но не ограничиваясь: IP-адрес, cookie, данные об используемом Пользователем программном обеспечении и оборудовании для работы в сети связи, включая Интернет, параметрах и настройках интернет-браузеров, передаваемой и получаемой с использованием Сервиса информации и материалах.</li>
<li>2.2. Администрация не несёт ответственности за порядок использования Персональной информации Пользователя третьими лицами, с которыми Пользователь взаимодействует в рамках использования Сайта и предоставляемого на его основе Сервиса.</li>
<li>2.3. Пользователь осознаёт и принимает возможность размещения на страницах Сайта программного обеспечения третьих лиц, в результате чего такие лица могут получать указанные в п.2.1.2 обезличенные данные.К указанному программному обеспечения третьих лиц, в результате чего такие лица могут получать указанные в п.2.1.2 обезличенные данные.</li>
•       Системы по сбору статистики посещений (например, счётчики Яндекс Метрика, Google Analytics и т. д.);
•       Социальные плагины (блоки) социальных сетей (например, Facebook и т. п.);
•       Системы баннеропоказов (например, AdRiver и т. п.);
•       Другие системы сбора обезличенной информации.
Пользователь вправе самостоятельно ограничить сбор такой информации третьими лицами, используя стандартные настройки конфиденциальности применяемого им для работы с Сайтом интернет-браузера.
<li>2.4. Администрация вправе устанавливать требования к составу Персональной информации Пользователя, которая должна обязательно предоставляться для использования Сайта и основанного на нём Сервиса. Если определённая информация не помечена Администрацией как обязательная, её предоставление или раскрытие осуществляется Пользователем по своему усмотрению.</li>
<li>2.5. Администрация не осуществляет проверку достоверности предоставляемой Персональной информации, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии.</li> 
<h2>3. Цели обработки Персональной информации</h2>
<li>3.1. Администрация осуществляет обработку, в том числе сбор и хранение только той Персональной информации, которая необходима для заключения и исполнения договоров с Пользователем.</li>
<li>3.2. Администрация вправе использовать Персональную информацию в частности в следующих целях:
•       Заключение договоров на использование Сайта и Сервиса;
•       Исполнение обязательств по заключённым договорам, включая предоставление Пользователю доступа к Сайту и Сервису;
•       Идентификация Пользователя в рамках исполнения обязательств по заключённым с ним договорам;
•       Оказание технической поддержки в связи с использованием Сайта и Сервиса;
•       Обеспечение связи с Пользователем в целях информационного обслуживания и улучшения качества Сервиса, в том числе в порядке нотификации с привлечением третьих лиц;
•       Использование обезличенных данных для таргетинга рекламных и/или информационных материалов по возрасту, полу, другим признакам;
•       Проведение маркетинговых, статистических и иных исследований на основе обезличенных данных.
</li>
<h2>4. Требования к защите Персональной информации</h2>
<li>4.1. Администрация осуществляет хранение Персональной информации и обеспечивает её охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.</li>
<li>4.2. В отношении Персональной информации Пользователя сохраняется её конфиденциальность, за исключением случаев, когда технология Сайта или предоставляемого на его основе Сервиса либо настройки используемого Пользователем программного обеспечения предусматривают открытый обмен информацией с иными Пользователями Сайта или с любыми пользователями сети Интернет.</li>
<li>4.3. Администрация вправе передавать Персональную информацию третьим лицам в следующих случаях:
•       Пользователь выразил своё согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определённой информации;
•       Передача необходима в рамках использования Пользователем функциональных возможностей Сайта и/или специфики основанного на нём Сервиса;
•       В связи с передачей Сайта во владение, пользование или собственность такого третьего лица, включая уступку прав по заключённым с Пользователем договорам в пользу такого третьего лица;
•       По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;
•       Для защиты прав и законных интересов Администрации в связи с нарушением заключённых с Пользователем договоров.
</li>
<h2>5. Изменение Персональной информации</h2>
<li>5.1. Пользователь вправе в любой момент самостоятельно отредактировать в своём Личном кабинете предоставленную им при регистрации или авторизации Персональную информацию.</li>
<li>5.2. В случае прекращения заключённого договора, Пользователь вправе удалить собственную учётную запись либо реализовать право на отзыв согласия на обработку его персональных данных путём направления Администрации запроса на удаление своей учётной записи по адресу dl@kaznu.kz.</li>
<li>5.3. В целях повышения качества Сервиса и обеспечения возможности правовой защиты, Администрация вправе хранить лог-файлы о действиях, совершённых Пользователем в рамках использования Сайта и/или Сервиса, а также в связи с заключением и исполнением Пользователем Соглашения и иных договоров со своей стороны, в течение 1 (Одного) года с момента их совершения.</li>
<h2>6. Изменение Политики конфиденциальности</h2>
<li>6.1. Настоящая Политика может быть изменена или прекращена Администрацией в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента её размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</li>
<li>6.2. Действующая редакция Политики находится на Сайте в сети Интернет по адресу open.kaznu.kz/privacy.</li>
</ul>
</p>
</section>
